.banner {
  height: 70vh;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');
  color: white;
  text-align: center;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }

  p {
    font-size: 25px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    margin-bottom: 30px;
  }
}

.page-container{
  min-height: 100vh;
}

.avatar-small{
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.margin-10px{
  margin: 10px;
}

.margin-40px{
  margin: 40px;
}

.no-margin-bottom{
  margin-bottom: 0px !important;
}

.text-bold {
  font-weight: bold
}

.text-50px{
  font-weight: 50px !important;
}

.text-red {
  color: red;
}

.margin-auto {
  margin: auto !important;
}

.fighter-card {
  background: #b7b7b7;
  opacity: 0.8;
  padding: 20px;
  border-radius: 10px;
  height: 110px;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  .fighter-photo {
    flex: 0 0 20%;
  }

  .fighter-main-infos {
    flex: 0 0 40%;
  }

  .fighter-stat {
    flex: 0 0 30%;
  }

  .btns {
    flex: 0 0 10%;
  }
}

.form {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

// input {
//   display: none;
// }


// // Form design
// .form-post {
//   background: white;
//   margin-top: 50px;
//   padding: 20px;
//   border-radius: 5px;
//   h1 {
//     text-align: center;
//     font-weight: bold;
//     font-size: 25px;
//     color: #666666;
//     margin-bottom: 50px;
//     margin-top: 0px;
//   }
//   .btn {
//     width: 100%;
//     padding: 10px;
//     font-weight: bold;
//   }
// }

// // Checkboxes design
// #fighter-choices {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
//   margin: 20px 0;
// }

// .fighter-choice {
//   background: #b7b7b7;
//   padding: 20px;
//   border-radius: 5px;
//   opacity: .4;
//   flex: 0 0 30%;
//   text-align: center;
//   &:hover {
//     opacity: 1;
//     cursor: pointer;
//   }
//   &.active {
//   background: blue;
//   color: white;
//   opacity: 1;
//   }
// }
