<audio id="homemusic" src="audio/music.mp3" type="audio/mpeg" loop></audio>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<script>
  document.getElementById("homemusic").play();
</script>
