<h1>Winner: <%= @fight.winner.name %></h1>

  <%= link_to 'Back to home page', root_path, class:'btn btn-primary btn-lg' %>
  <%= link_to 'New fight', new_fight_path, class:'btn btn-primary btn-lg' %>
